
# Any log files

# Clion IDE related files
.idea
recipe-01
# vs & vs code files (in case opened with)
.vs
.vscode
#CMake out/build folder ; check if this is need
#Clion specific
cmake-build-debug
cmake-build-release
cmake-build-*
CMakeFiles
#typical Cmake build
build
include
lib
temp
.cache
#vs cmake builds
out
