CompileFlags:                     # Tweak the parse settings
  Add: [-std=c++2c, -Wc++26-extensions -fmodules-ts ]             # treat all files as C++, enable more warnings  
  Remove: [-fcoroutines -fmodules] 
